{% extends 'base.html' %}
{% block title %} Supprimer '{{ matier.nom }}' {% endblock %}

{% block main %}

<a class="btn btn-outline-primary btn-sm" href="{% url 'listesdesmetier' %}">Retour</a>
<div style="height: 100%; margin-top: 5rem; background: linear-gradient(#dbeafe,#70a6ec); width: 50%; border: 1px solid blue;" class="container text-center">
<form method="POST">
    {% csrf_token %}
    <p>Voulez vous vraiment supprimer le matiere {{ matier.nom }} ?</p>
    <input class="btn btn-outline-danger" type="submit" value="Supprimer">
</form>

</div>

{% endblock %}