<ul class="nav nav-tabs mb-3 ">
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'periode_list' %}">Périodes</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'devoir_list' %}">Devoirs</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'notes_gestion' %}">Gestion notes</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'note_saisie_setup' %}">Saisie</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'note_import' %}">Import</a></li>
  <li class="nav-item"><a class="nav-link text-light " href="{% url 'dispense_list' %}">Dispenses</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{% url 'bulletins_visual' %}">Bulletins</a></li>
   
</ul>
